Host ads1v.dev
        HostName ads1v.dev.itim.vn
        User long.dinh
	IdentityFile ~/.ssh/id_rsa
	IdentitiesOnly yes

Host ads2v.dev
        HostName ads2v.dev.itim.vn
	User long.dinh
        IdentityFile ~/.ssh/id_rsa
        IdentitiesOnly yes
        StrictHostKeyChecking no
	
Host ads4v.dev
	HostName ads4v.dev.itim.vn
	User long.dinh
        IdentityFile ~/.ssh/id_rsa
        StrictHostKeyChecking no

Host ads4v.prod
        HostName ads4v.itim.vn
        User developer
        IdentityFile ~/.ssh/id_rsa

Host ads5v.prod
        HostName ads5v.itim.vn
        User developer
        IdentityFile ~/.ssh/id_rsa
